body {
  margin: auto;
  font-family: serif;
  line-height: 1.8;
  width: 100%;
}
a {
  color: black;
  text-decoration: none;
}
p {
  font-size: 14px;
}
img{
  width: 100%;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1000;
}
.head-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 20px;
}
.gnav{
  display: inline-block;
}
nav {
  display: flex;
  gap: 20px;
  font-size: 14px;
}
.sitename{
  display: inline-block;
}
.sitename h1 {
  display: inline-block;
}
.sitename h1 img{
  display: block;
  height: 16px;
  margin-top: 6px;
}
.menu-button {
  display: none;
}
main{
  margin-top: 64px;
}
.footer-inner{
  padding: 20px;
  font-size: 13px;
  color: #4f4f4f;
}
.content-wide-full{
  margin: auto;
}
.content-wide-normal{
  margin: auto;
  padding: 0 20px;
}
.content-wide-left{
  margin: auto;
  padding: 0 40px 40px 0;
}
.content-wide-right{
  margin: auto;
  padding: 0 0 40px 40px;
}
.content-title {
 padding: 10px 0px;
}
.content-title h2{
  margin: 0;
  font-size: 20px;
}
.top-content .cover{
  position: relative;
}
.top-content .content-wide-left h2.covertext{
  font-size: 32px;
  padding: 20px;
  position: absolute;
  left:20px;
  bottom: 20px;
  color: #fff;
  margin: 0;
}
.top-content .content-wide-right h2.covertext{
  font-size: 32px;
  padding: 20px;
  position: absolute;
  right:20px;
  bottom: 20px;
  color: #fff;
  margin: 0;
}
.cv-block{
  margin: 30px 0px;
}
.cv-block h3{
  font-size: 16px;
  margin: 10px 0px;
}
.cv-block ul {
  list-style: none;
  padding: 0px;
  margin: 10px 0px;
}
.cv-block ul li{
  list-style: none;
  padding: 0px;
  font-size: 14px;
}
.only-sp{
    display: none;
  }
.back{
  font-size: 12px;
  color: #333;
}
@media (max-width: 768px) {
  .content-wide-left{
  padding: 0 20px 20px 0;
}
.content-wide-right{
  padding: 0 0 20px 20px;
}
  .only-pc{
    display: none;
  }
  .only-sp{
    display: block;
  }
  .site-header {
    height: 64px;
    padding: 0 20px;
  }
  .site-logo {
    font-size: 18px;
  }
  .menu-button {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: auto;
    background: none;
    border: none;
    padding: 0;
  }
  .menu-button span {
    width: 24px;
    height: 1px;
    background: #000;
  }
  .site-nav {
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    padding: 32px 20px;
    display: none;
    flex-direction: column;
    gap: 24px;
    background: #fff;
  }
  .site-nav.is-open {
    display: flex;
  }
  .menu-button.is-open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.menu-button.is-open span:nth-child(2) {
  opacity: 0;
}
.menu-button.is-open span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
}